
<div class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                 <!-- About Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading d-inline-block text-white">ABOUT</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">I am passionate data scientist and software developer with years of broad experience in modelling data and building applications.</p></div>
                    <div class="col-lg-4 ms-auto"><p class="lead">I worked as consultant, data scientist and software developer across financial service and technology industries.</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">When I don’t work, I like to take my dogs out, take care of my plants and play my piano.</p></div>
                </div>
            </div>
        </div>



