{% include "header.html" %}

<div class="px-4 py-5 my-5 container" style="background-color: #cddafd" >
    <h1 class="display-5 fw-bold text-center">About Me</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-6">I am passionate data scientist and software developer with years of broad experience in modelling data and building applications.</p>
        <p class="lead mb-6">
        My favorite part about being a developer is there is always something challenging every day, and there is always something new to learn from the new challenge. For me, the most wonderful moment is when the issues get resolved successfully.</p>
        <p class="lead mb-6"> When I don’t work, I like to cook and take my dogs out.</p>
    </div>
</div>


{% include "footer.html" %}

