{% include "header.html" %}
<div class = "container">
    <div class="py-5 text-center container" style="width:800px">
        <h4>Customer Retaintion Prediction</h4>
        <div class="mb-3">
            <img src="static/assets/img/bank_data.png" style="width:800px">
        </div>
        <div class="mb-3">
            <img src="static/assets/img/data_processing.png" style="width:800px">
        </div>

          <div class="mb-3">
            <img src="static/assets/img/ann.png" style="width:800px">
        </div>


        <br>
        <br>

    </div>
</div>



{% include "footer.html" %}