{% include "header.html" %}
<div class="page-section" >
        <div class="container">
            <!-- Contact Section Heading-->
            <div class="text-center">
                <br>
                <br>
                <h2 class="page-section-heading text-secondary d-inline-block mb-0">Bank Customer Retention Prediction</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Problem Description-->
            <div>
                <h4>Problem Description</h4>
                <p>This is a customer retention problem based on various factors.</p>
                <p>We use ANN model to train dataset. Note gender and geography regions need to be encoded as dummy variable.</p>
            </div>
        <div class="py-5 text-center container" style="width:800px">
            <div class="mb-3">
                <img src="static/assets/img/bank_data.png" style="width:800px">
            </div>
            <div class="mb-3">
                <img src="static/assets/img/data_processing.png" style="width:800px">
            </div>

              <div class="mb-3">
                <img src="static/assets/img/ann.png" style="width:800px">
        </div>


        <br>
        <br>

    </div>
</div>

</div>

{% include "footer.html" %}