{% include "header.html" %}

    <div class="py-5 text-center container form-control bg-light">
    <form action="{{url_for('car_regression')}}" method = "post">
        <h4>Used Honda Car Price Prediction</h4>
        <br>
        <div class="mb-3">
            <input type="number" min="1000" max="300000" name="mileage" class="form-control" placeholder="Mileage" id="mileage" required>
        </div>
        <div class="mb-3">
            <input type="number" min="2000" max="2023" name="year" class="form-control" placeholder="Year" id="year" required>
        </div>
    <button type="submit" value = "submit" class="btn btn-primary">Submit</button>

</form>
        <br>
        <br>
    <p>{{output}}</p>
    </div>




{% include "footer.html" %}