
<div class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Content-->
                <form action="https://formsubmit.co/xilouli@gmail.com" method="POST">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name" id="name" required
                           data-validation-required-message="Please enter your name." >
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" id="email" required
                           data-validation-required-message="Please enter your email.">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="message" name="message" placeholder="Message" rows="6" required
                                                    data-validation-required-message="Please enter a message."></textarea>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-center">Submit</button>
                    </div>

                </form>
            </div>
</div>


