{% include "header.html" %}


<div class="container px-4 py-5 my-5 text-center" style="background-color: #fde2e4">
   <img class="d-block mx-auto mb-4" src="static/assets/img/avatar.png" alt="" width="150" height="150">
    <h1 class="display-5 fw-bold">Hi, I am Niannian.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">I am a data scientist and developer.</p>
    </div>
</div>

<div class="container py-5 text-center container" style="background-color: #dfe7fd">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Data Science Models</h1>
        <p class="lead text-muted">List of simple examples for data science.</p>
      </div>
    </div>
</div>



  <div class=" container album py-5 bg-light">


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card">
            <img class="card-img-top" width="100%" height="225" src="static/assets/img/submarine.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/>
              <div class="card-body">
                <div class = "card-title">
                  <h6 class = "card-text">Regression</h6>
                  <p class="card-text">This is a simple linear regression model used for predicting used car prices.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="car_regression"><button type="button" class="btn btn-sm btn-info">View</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        <div class="col">
          <div class="card">
            <img class="card-img-top" width="100%" height="225" src="static/assets/img/cabin.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/>
              <div class="card-body">
                <div class = "card-title">
                  <h6 class = "card-text">Classification</h6>
                  <p class="card-text">This is a simple classification model used for predicting Iris flower.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="iris_classification"><button type="button" class="btn btn-sm btn-info">View</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" width="100%" height="225" src="static/assets/img/safe.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/>
              <div class="card-body">
                <div class = "card-title">
                  <h6 class = "card-text">Artificial Neural Network</h6>
                  <p class="card-text">This is an ANN model used for predicting customer retaintion for banks.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="bank_ann"><button type="button" class="btn btn-sm btn-info">View</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

</div>
</div>







{% include "footer.html" %}




