{% include "header.html" %}
<div class="page-section" >
            <div class="container">
                <!-- Contact Section Heading-->
                <div class="text-center">
                    <br>
                    <br>
                    <h2 class="page-section-heading text-secondary d-inline-block mb-0">Natural Language Processing</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Problem Description-->
                <div>
                    <h4>Problem Description</h4>
                    <p>This problem is to determine if a customer review is positive or negative.</p>
                    <p>We use NLP model for prediction.</p>
                </div>

                <div class="py-5 text-center container" style="width:800px">
                <div class="mb-3">
                    <img src="static/assets/img/nlp.png" style="width:800px">
                </div>

        <br>
        <br>

                </div>
</div>

</div>

{% include "footer.html" %}